<% if Rails.env.production? %>
<% unless current_user.blank? %>
<script>
  mixpanel.identify(<%= current_user.id %>);
  mixpanel.people.increment("TechStars DemoDay Visits");
  mixpanel.people.set({
  "$email": "<%= current_user.email %>",
  "$name": "<%= current_user.name %>",
  "$uid": "<%= current_user.uid %>",
  "$byline": "<%= current_user.byline %>",
  "$angellist_url": "<%= current_user.angellist_url %>",
  "$twitter_url": "<%= current_user.twitter_url %>",
  "$linkedin_url": "<%= current_user.linkedin_url %>",
  "$avatar": "<%= current_user.avatar %>",
  "$current_sign_in_at": "<%= current_user.current_sign_in_at %>",
  "$sign_in_count": "<%= current_user.sign_in_count %>",
  "$last_login": "<%= current_user.last_sign_in_at %>",
  "$current_sign_in_ip": "<%= current_user.current_sign_in_ip %>",
  "$last_sign_in_ip": "<%= current_user.last_sign_in_ip %>",
  "$created": "<%= current_user.created_at %>",
  "$updated": "<%= current_user.updated_at %>"
  });
  mixpanel.track_links("a", "Link Clicked", {'referrer': document.referrer });
</script>
<% end %>
<% end %>

<% @startups.each do |startup| %>

  <div class="box <%= startup["active"] ? 'box-active' : '' %>">
    <div class="head">
      <a href="<%= startup.ceo_avatar_path %>"><img src="<%= startup.ceo_avatar_path %>" width="50" height="50" class="avatar" alt="<%= startup.ceo_name %>"></a>
      <div class="meta">
        <h3><a style="color:#ed5456;text-decoration:none;" href="<%= startup.url %>" target="_blank" onclick="<%= raw "mixpanel.track('Homepage Clicked', {'startup': '#{startup.name}'});" %>"><%= startup.name %></a></h3>
        <p>Pitched by <span class="name"><%= startup.ceo_name %></span><!-- at <span class="name"><%= startup.pitch_time.strftime("%-H:%M") %></span>-->  <%= startup["active"] ? '<span class="label label-success">now</span>'.html_safe : '' %> </p>
      </div>
    </div>

    <div class="company">
      <div class="verticalmess">
        <p><%= startup.pitch %></p>
      </div>
    </div>

    <div class="box-footer">
      <% if user_signed_in? and @pings.exists?(:startup_id => startup.id) %>
        <button class="btn btn-success action-ping" type="button" disabled="disabled">Contact details sent<span class="checkmark">✓</span></button>
      <% else %>
        <button class="btn btn-success action-ping" type="button" data-startup-id="<%= startup.id %>" onclick="<%= raw "mixpanel.track('Contact Details Sent', {'user_name': '#{current_user.name}', 'user_id': '#{current_user.id.to_s}', 'startup': '#{startup.name}'});" unless current_user.blank? %><%= raw "mixpanel.track('Contact Details Sent', {'startup': '#{startup.name}'})" %>">Send contact info</button>
      <% end %>

      <% if user_signed_in? and current_user.uid and startup.angellist_id %>
        <% if @follows and @follows.include?(startup.angellist_id) %>
          <button class="btn action-follow" type="button" disabled="disabled">Followed<span class="checkmark">✓</span></button>
        <% else %>
          <button class="btn action-follow" type="button" data-startup-id="<%= startup.id %>" onclick="<%= raw "mixpanel.track('Startup Followed', {'user_name': '#{current_user.name}', 'user_id': '#{current_user.id.to_s}', 'startup': '#{startup.name}'});" unless current_user.blank? %>">Follow</button>
        <% end %>
      <% end %>
      <!-- <p>or email <a href="mailto:<%= startup.ceo_email %>"><%= startup.ceo_email %></a></p> -->
    </div>
  </div>

<% end %>

<% unless user_signed_in? %>
  <div id="prompt-signup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="prompt-signup-close">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <%= render "devise/shared/sign_up" %>
  </div>
<% end %>

<footer>
  <% if user_signed_in? %>
    Signed in as <%= current_user.name %> · <%= link_to('Sign out', destroy_user_session_path, {:method => :get}) %>
  <% else %>
    <%= link_to('Sign in', new_user_session_path) %>
  <% end %>
</footer>
